<h3>Security</h3>
@page "/SecurityPage"

@inject ISecurityService _SecurityService
@using SecFinance.Domain.FIN

@if (securities == null)
{
    <span>Loading</span>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Security Num
                </th>
                <th>
                    Desc
                </th>
                <th>
                    Type
                </th>
            </tr>
      
        </thead>
        <tbody>
            @foreach(var sec in securities)
            {
            <tr>
                <td>
                    @sec.SecurityNum
                </td>
                <td>
                    @sec.Description
                </td>
                <td>
                    @sec.Type
                </td>
            </tr>
                
            }
        </tbody>
    </table>
}



@code {

    protected IEnumerable<Security> securities;

    protected override async Task OnInitializedAsync()
    {
        securities = await _SecurityService.GetSecurities();
    }

}
